/*commentaires en  css*/
*{
    text-align: right;
}
body{
    background: #f5deb3;
}
header{
    background-color: #900c3f;
    color: #fff;
    height: 100px;
}
article{
     background-color: #ff5733;
     height: 66px;
}
nav{
    background-color: #daf7a6;
    height: 60px;
}
section{
    background-color: navy;
    height: 60px;
}

nav, footer{
    color: #a93226;
}
/*je cible une class un point devant*/
.jaune{
    background-color: yellow
}
/*je cible un id avec un diese devant*/
#noir{
    background-color: black;
    color: #fff;
    text-align: justify;
    font-size: 25px;
}
