div{
  margin: 50px 0 0 50px;
}
img{
  height: 200px;/*hauteur*/
  width: 280px;/*largeur*/
  border: 5px double orchid;/*taille,style, coileur de la bordure*/
  margin: 15px;/*display block*/
  float: left;/*effet flottant, permet de placer des balises cote a cote alors que selon le flux du web standard les éléments se placent les uns au-dessus des autres*/
  transition: margin 0.5s;
}
img:hover/*la pseudo classe :hover modifie un affichage au survol*/{
  margin-top: 3px;
}
.clear{
  clear: both;/*supprimer l'effet flottant*/
}
p{
  background-color: red;
}
p
