.c1, .c2, .c3, .c4, .5{
  height: 40px;
  width: 40px;
  border: 1px solid olive;/*si on on ne met paq la 3eme valeur la couleur du trait  sera par default noir*/
  margin:2px;
  float: left;
  text-align:center;
  padding-top:5px;
}
.clear{
  clear: both;
}
.c1{
  background: green;
  border-radius: 15x;
}
.c2{
  background-color: blue;
  border-radius: 10px;
}
.c3{
  background-color: pink;
  border-radius: 10px;
}
